*{
    box-sizing: border-box;
}
#header{
   background-image:url('background3.jpeg');
   background-size: cover;
}
#profile_card {
    text-align: center;
    text-decoration : underline;
    font-size: 30px;
    color : white;
}
#name{
    color : white;
}

#profile{
    background-color : peachpuff;
    border: 2px solid blue;
    height : 270px;
    width : 300px;
    border-radius: 20%;
    text-align: center;
    margin : 0 auto;
}
#img{
    border-radius : 50%;
    height : 135px;
    width : 135px;
    margin-top : 25px;
    border : 2px solid black;
    background-image: url(ProfilePic.jpeg);
    background-size: cover;
    margin-top: 20px;
    position : relative;
    left : 80px;
}

#content{
    height : 200px;
    text-align : center;
}
#about1{
    background-color: aqua;
    display : inline-block;
    width: 250px;
    height : 120px;
    margin-top: 30px;
    margin-left : 40px;
    vertical-align: top;
}
#about2{
    background-color: orange;
    display : inline-block;
    width: 250px;
    height : 120px;
    margin-top: 30px;
    margin-left : 40px;
    vertical-align: top;
}
#about3{
    background-color: lightgreen;
    display : inline-block;
    width: 250px;
    height : 120px;
    margin-top: 30px;
    margin-left : 40px;
    vertical-align: top;
}

footer{
    background-color: rgba(16, 50, 69, 0.553); 
    color : white;
    text-align: center;
    padding-top : 30px;
    height : 80px
}
span{
    font-size : 25px;
    font-weight : bold;
}





